@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:var(--font-montserrat),sans-serif;
}

h1, h2{
  color: #27187E;
}

p{
  color: #758BFD;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}
